:root {
    --bg-color: #F1E9E4;
    --text-color: #BF8988;
    --icon-color: #F8F4F2;
    --social-color: #F8F4F2;
    --image: url('images/lightmode.png');
}
.dark-mode {
    --bg-color: #695B4F;
    --text-color: #C4A49E;
    --icon-color: #5D5146;
    --social-color: #5D5146;
    --image: url('images/darkmode.png');
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 60px;
}

.home h1 {
    font-size: clamp(45px, 12vw, 150px);
    color: var(--text-color);
    margin: 0;
    padding: 0 5vw;
}

.home h2 {
    background: linear-gradient(45deg, #BF8988, #C4A49E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(30px, 6vw, 75px);
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25vw;
    margin-top: 5px;
}

.email-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: clamp(10px, 2vw, 20px);
    transition: all 0.3s ease;
}

.email-icon {
    width: clamp(20px, 8vw, 50px);
    height: clamp(20px, 8vw, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-color);
    border-radius: 50%;
    font-size: clamp(18px, 5vw, 30px);
    margin-bottom: 5px;
    margin-right: 40%;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.email-link:hover .email-icon,
.email-link:hover span {
    transform: scale(1.1);
}

.email-link span {
    font-size: clamp(10px, 2vw, 16px);
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.3s ease;
    margin-right: 40%;
}

.desc-image-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.desc-text {
    font-size: clamp(8px, 2vw, 16px);
    color: var(--text-color);
    padding-left: 30%;
    padding-bottom: 20%;
    padding-top: 5px;
    text-align: right;
    font-style: italic;
    white-space: nowrap;
}

.image {
    width: clamp(37px, 10vw, 56px);
    height: clamp(49px, 10vw, 74px);
    margin: 0;
    padding: 0;
    background-image: var(--image);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

.home-nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    padding: 0 10%;
    z-index: 10;
}

.home-nav-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.home-nav-link {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-family: inherit;
    font-size: clamp(10px, 2vw, 20px);
    transition: all 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    
    /* Initial hidden state */
    opacity: 0;
    transform: translateY(30px); /* Move the icons below the screen initially */
    animation: bounceIn 1s ease-out forwards; /* Apply bounce animation */
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: translateY(30px); /* Start below the screen */
    }
    50% {
        opacity: 1;
        transform: translateY(-10px); /* Move slightly upwards */
    }
    70% {
        transform: translateY(5px); /* Move down a little */
    }
    90% {
        transform: translateY(-3px); /* Move up slightly */
    }
    100% {
        opacity: 1; /* Ensure the opacity stays 1 */
        transform: translateY(0); /* Settle into the final position */
    }
}

.home-nav-link:nth-child(1) {
    animation-delay: 0.2s; /* Delay for the first icon */
}

.home-nav-link:nth-child(2) {
    animation-delay: 0.4s; /* Delay for the second icon */
}

.home-nav-link:nth-child(3) {
    animation-delay: 0.6s; /* Delay for the third icon */
}

.home-nav-link:nth-child(4) {
    animation-delay: 0.8s; /* Delay for the fourth icon */
}

.home-nav-icon {
    width: clamp(20px, 8vw, 50px);
    height: clamp(20px, 8vw, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-color);
    border-radius: 50%;
    font-size: clamp(18px, 5vw, 30px);
    margin-top: 5px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.home-nav-link span {
    font-size: clamp(10px, 2vw, 16px);
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.home-nav-link:hover .home-nav-icon,
.home-nav-link:hover span {
    transform: scale(1.1);
}

.dark-mode .home-nav-icon {
    background-color: var(--icon-color);
    color: var(--bg-color);
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 15px; 
    background-color: var(--bg-color); 
    overflow: hidden; 
}

.title {
    text-decoration: none; 
    color: var(--text-color); 
    font-size: clamp(24px, 3vw, 48px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.title h1 {
    margin: 0; 
    font-size: clamp(24px, 3vw, 48px);
    color: inherit; 
}

.nav-section {
    display: flex;
    gap: clamp(10px, 5vw, 30px);
    align-items: center; 
    margin-left: auto; 
    flex-shrink: 0; 
    padding-left: 5px; 
    padding-right: 5px;
}

.header-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: clamp(16px, 20vw, 28px);
    transition: all 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-family: inherit;
}

.header-nav-icon {
    width: clamp(15px, 10vw, 60px);
    height: clamp(15px, 10vw, 60px); 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-color);
    border-radius: 50%;
    font-size: clamp(24px, 6vw, 36px); 
    margin-bottom: 5px; 
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.header-nav-link:hover .header-nav-icon,
.header-nav-link:hover span {
    transform: scale(1.1); 
}

.header-nav-link span {
    font-size: clamp(14px, 2vw, 20px);
    font-family: inherit;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto; 
}

.about-me-container h2 {
    background: linear-gradient(45deg, #BF8988, #C4A49E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(30px, 6vw, 75px);
    font-weight: 300;
    text-align: center;
    margin: 10;
    margin-top: 20px;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    width: 100%;
}

.about-me-image {
    width: 100%;
    max-width: 300px; 
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
    margin-right: 40px;
}

.about-me-content p {
    font-size: clamp(16px, 2vw, 18px);
    line-height: 1.6;
    margin: 0;
    text-align: left; 
    padding-left: 40px;
    padding-right: 40px;
}

/* Responsive Layout for Wider Screens */
@media (min-width: 768px) {
    .about-me-content {
        flex-direction: row; 
        align-items: flex-start; 
        text-align: left; 
    }

    .about-me-image {
        max-width: 40%; 
        margin-right: 20px; 
    }
}

.footer {
    background-color: var(--bg-color); 
    padding: 20px 0; 
    text-align: center; 
    margin-top: auto; 
}

.footer-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: clamp(10px, 10vw, 200px); 
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 20px; 
}

.social-icons {
    display: flex;
    gap: 15px; 
}

.social-icons a {
    text-decoration: none;
    font-size: clamp(12px, 5vw, 24px); 
    color: var(--social-color);
    width: clamp(20px, 7vw, 40px);
    height: clamp(20px, 7vw, 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.social-icons a:nth-child(1) { background-color: #ADE2FF; } /* LinkedIn */
.social-icons a:nth-child(2) { background-color: #A3A3A3; } /* GitHub */
.social-icons a:nth-child(3) { background-color: #F2BAD3; } /* Instagram */
.social-icons a:nth-child(4) { background-color: #F7A4A1; } /* Gmail */
.social-icons a:nth-child(5) { background-color: #FAC898; } /* Resume */

.social-icons a:hover {
    transform: scale(1.1);
}

.footer-desc-image-container {
    display: flex;
    align-items: center; 
    gap: 5px; 
}

.footer-desc-text {
    font-size: clamp(8px, 2vw, 16px);
    color: var(--text-color);
    text-align: right; 
    font-style: italic;
    white-space: nowrap; 
    margin: 0; 
    padding: 5px;
}

.footer-desc-text em {
    font-style: normal; 
}

.work-content {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.work-content h2 {
    background: linear-gradient(45deg, #BF8988, #C4A49E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(30px, 6vw, 75px);
    font-weight: 300;
    text-align: center;
}

.resume-link {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; 
}

.resume-bubble {
    display: inline-flex;
    align-items: center;
    background-color: var(--text-color); 
    padding: 10px 20px;
    border-radius: 25px; 
    text-decoration: none;
    color: var(--bg-color);
    font-size: clamp(18px, 2.5vw, 32px);
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.resume-bubble span {
    margin-right: 10px;
}

.resume-bubble i {
    font-size: clamp(18px, 2.5vw, 32px);
    color: var(--bg-color);
}

.resume-bubble:hover {
    transform: scale(1.05);
}

.work-content-heading {
    font-size: clamp(30px, 6vw, 60px);
    color: var(--text-color);
    margin: 0px;
    padding-top: 10px;
}

.work-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.work-entry {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding-top: 10px;
}

.company-logo {
    width: clamp(70px, 8vw, 150px); 
    padding: 10px;
    text-align: center;
}

.company-logo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.company-logo a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--text-color);
    font-size: clamp(14px, 2vw, 18px);
}

.project-logo {
    flex: clamp(100px, 5vw, 150px); 
    padding: 10px;
    text-align: center;
}

.project-logo img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

.project-logo a {
    display: block;
    margin-top: 10px;
    color: var(--text-color);
    font-size: clamp(14px, 2vw, 18px);
}

.work-details {
    flex: 1;
}

.work-details h3 {
    font-size: clamp(20px, 4vw, 36px);
    margin: 0 0 10px 0;
}

.work-details h3 a {
    text-decoration: none;
    color: var(--text-color);
}

.work-details .time-frame {
    font-size: clamp(14px, 2vw, 18px);
    color: var(--text-color);
    margin: 0 0 10px 0;
}

.work-details .job-description {
    font-size: clamp(14px, 2vw, 18px);
    line-height: 1.6;
    margin: 0 0 10px 0;
}

.work-details .key-skills {
    font-size: clamp(14px, 2vw, 18px);
    color: var(--text-color);
    margin: 0;
}

.play-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.play-title {
    text-decoration: none;
    color: var(--text-color);
    font-size: clamp(24px, 3vw, 48px);
}

.play-nav-section {
    display: flex;
    gap: 20px;
}

.play-header-nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: clamp(16px, 2vw, 24px);
}

.play-content {
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-top: 0px;
}

.play-intro {
    text-align: center;
}

.play-intro h2 {
    background: linear-gradient(45deg, #BF8988, #C4A49E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(30px, 6vw, 75px);
    font-weight: 300;
    text-align: center;
    margin: 10;
    margin-top: 20px;
}

.play-intro p {
    font-size: clamp(16px, 2vw, 18px);
    line-height: 1.5;
    color: var(--text-color);
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.image-collage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px;
}

.image-cell {
    position: relative;
    width: 100%;
    padding-top: 125%; 
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}

.image-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.image-container:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

* {
    font-family: 'Work Sans', sans-serif;
}